{% load staticfiles %}

<footer class="footer">
	<div class="footer-widgets">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h4>Links</h4>
					<div class="footer-text">
						<ul>
							<li><a href="http://www.funai.gov.br/" onclick="javascript:window.open('http://www.funai.gov.br/'); return false;">Funai</a></li>
							<li><a href="http://www.socioambiental.org" onclick="javascript:window.open('http://www.socioambiental.org/'); return false;">ISA - Instituto Sócio Ambiental</a></li>
							<li><a href="http://www.ministeriodomeioambiente.gov.br/" onclick="javascript:window.open('http://www.ministeriodomeioambiente.gov.br/'); return false;">Ministério do Meio Ambiente</a></li>
							<li><a href="http://www.bbm.usp.br" onclick="javascript:window.open('http://www.bbm.usp.br/'); return false;">Biblioteca Brasiliana</a></li>
							<li><a href="http://www.etnolinguistica.org" onclick="javascript:window.open('http://www.etnolinguistica.org/'); return false;">Biblioteca Digital Curt Nimuendajú</a></li>
							<li><a href="http://www.labeurb.unicamp.br/elb2/pages/artigos/lerArtigo.lab?id=1" onclick="javascript:window.open('http://www.labeurb.unicamp.br/elb2/pages/artigos/lerArtigo.lab?id=1'); return false;">ELB - Enciclopédia das Línguas do Brasil</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<h4>Parceiros</h4>
					<div class="footer-text">
						<ul>
							<li><a href="http://www.braziel.nl/" onclick="javascript:window.open('http://www.braziel.nl/'); return false;">Braziel</a></li>
							<li><a href="http://www.rebojo.com/" onclick="javascript:window.open('http://www.rebojo.com/'); return false;">Rebojo</a></li>
							<li><a href="http://www.terracomum.com.br/" onclick="javascript:window.open('http://www.terracomum.com.br/'); return false;">Terra Comum</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-6 footer-copyright">
					<p class="text-muted">Copyright © Dicionário Ilustrado Tupi Guarani</p>
				</div>
				<div class="col-md-6 footer-social">
					<ul>
						<li><a href="https://www.facebook.com/dtg.com.br" onclick="javascript:window.open('https://www.facebook.com/dtg.com.br'); return false;"><img src="{% static 'image/social-icon-facebook-footer.png' %}"></a></li>
						<li><a href="https://twitter.com/@dicionariotupi" onclick="javascript:window.open('https://twitter.com/@dicionariotupi'); return false;"><img src="{% static 'image/social-icon-twitter-footer.png' %}"></a></li>
						<li><a href="https://plus.google.com/u/0/103713417264842552951/" onclick="javascript:window.open('https://plus.google.com/u/0/103713417264842552951/'); return false;"><img src="{% static 'image/social-icon-googleplus-footer.png' %}"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>